[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
fake-useragent = "*"
langid = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
html5lib = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
